#loader-wrapper {
  z-index: 100;
  background-color: yellow;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;            /* NEW, Spec - Opera 12.1, Firefox 20+ */
  vertical-align: middle;
}

#loader {
  margin: auto auto;
  text-align: center;
}

.ip-loader svg path {
	fill: none;
	stroke-width: 6;
}

.ip-loader svg path.ip-loader-circlebg {
	stroke: #ddd;
}

.ip-loader svg path.ip-loader-circle {
	-webkit-transition: stroke-dashoffset 0.2s;
	transition: stroke-dashoffset 0.2s;
	stroke: #ddd;
}
